**Author**: 

Abdelrahman Khairy Mahmoud

&emsp; M.Eng. in Mechanical and Industrial Engineering

&emsp; University of Toronto, Toronto, ON, Canada

**Project description**:

The purpose of this project is to perform web-scraping on Bilgi University's (Istanbul, Turkey) curriculum for the Management Information Systems (MIS) program.

**Notes**: (v1.2)


- All curriculum webpages observed essentially follow the same outline format. An intended later version of this project will be adapted to obtain data pertaining to any course on the University website
- Later versions will support individual course content data mining using course using \<href>

# Getting HTML and Creating a BeautifulSoup Object

In [35]:
# importing necessary libraries
import pandas as pd
import time
import requests as re
from bs4 import BeautifulSoup as bs

In [2]:
# browser header for requests object
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.74 Safari/537.36 Edg/99.0.1150.46"}

# homepage for MIS curriculum
home = re.get('https://ects.bilgi.edu.tr/Department/Curriculum?catalog_departmentId=126632', headers)
time.sleep(3) # time delay to ensure all page contents are loaded

# Create a beautifulSoup object with the webpage's HTML
soup = bs(home.text, 'html.parser')

# Data Extraction  
What we're looking for: (v1.2)  
- Course code (ABC####)  
- Course name (String)  
- Course status (core/elective)  
- Credits (Lec+Pra)

In [3]:
container = soup.find("div", {'class':"panel panel-default"})
container2 = container.find("div", {'class':'panel-body'})

# div tags contain table headings
divs = container2.find_all("div")
divs = [div.text for div in divs]

# tables ontain the core curriculum content (incl. electives)
tables = container2.find_all("table")
tables = [table.find("tbody") for table in tables]

Level index = *8*  
Semester index = *23*

In [4]:
divs

['Level : 1 | Semester : 1 - 52. Management Information Systems',
 'Level : 1 | Semester : 2 - 52. Management Information Systems',
 'Level : 2 | Semester : 1 - 52. Management Information Systems',
 'Level : 2 | Semester : 2 - 52. Management Information Systems',
 'Level : 3 | Semester : 1 - 52. Management Information Systems',
 'Level : 3 | Semester : 2 - 52. Management Information Systems',
 'Level : 4 | Semester : 1 - 52. Management Information Systems',
 'Level : 4 | Semester : 2 - 52. Management Information Systems',
 '\nTotal ECTS : 240\n']

In [63]:
labels = ['course_code', 'course_name', 'status', 'lec_pra', 'ects', 'level', 'semester']
course_data = pd.DataFrame(columns=labels)
for index, table in enumerate(tables):
    rows = table.find_all("tr")
    for row in rows:
        try:
            course = {'course_code' : row.find_all("td")[0].text.strip(),
            'course_name' : row.find_all("td")[1].text.strip(),
            'status' : row.find_all("td")[2].text.strip(),
            'lec_pra' : row.find_all("td")[3].text.strip(),
            'ects' : row.find_all("td")[4].text.strip(),
            'level' : divs[index][8],
            'semester' : divs[index][23]}

            course_data = course_data.append(course, ignore_index=True)
        except IndexError:
            continue

In [64]:
course_data.to_csv('Bilgi_MIS_Curriculum')
course_data

,course_code,course_name,status,lec_pra,ects,level,semester
0,BUS 179,Experiencing Business in Society I,Core,3+0,6,1,1
1,EC 101,Introduction to Economics I,Core,2+1,6,1,1
2,BUS/E 179,English for Academic Purposes I,Core,4+0,3,1,1
3,CMPE 130,Algorithms and Programming,Core,3+2,6,1,1
4,MATH 175,Calculus I,Core,4+1,7,1,1
5,TK 103,Turkish Language I,Core,2+0,2,1,1
6,MIS 102,Intermediate Programming,Core,3+2,5,1,2
7,BUS 120,Office Applications for Business and Economics,Core,2+0,1,1,2
8,BUS 180,Experiencing Business in Society II,Core,3+0,6,1,2
9,EC 102,Introduction to Economics II,Core,2+1,6,1,2
10,BUS/E 180,English for Academic Purposes II,Core,4+0,3,1,2
11,MATH 176,Calculus II,Core,4+1,7,1,2
12,TK 104,Turkish Language II,Core,2+0,2,1,2
13,MIS 202,Business Information Systems,Core,3+1,6,2,1
14,MIS 306,Business Data Communications,Core,3+0,6,2,1
15,BUS 211,Introduction to Accounting,Core,3+1,6,2,1
16,BUS 273,Statistical Analysis for Business,Core,3+1,6,2,1
17,HTR 111,History of Turkish Revolution I,Core,2+0,2,2,1
18,.........,GE-Science List,Elective,0+0,4,2,1
19,BUS 212,Financial Reporting and Analysis,Core,3+1,6,2,2
20,BUS 274,Further Statistics for Business,Core,3+1,6,2,2
21,MATH 235,Calculus for Economists and Administrative Sci...,Core,3+1,7,2,2
22,HTR 112,History of Turkish Revolution II,Core,2+0,2,2,2
23,.........,Full List,Elective,0+0,5,2,2
24,.........,Full List,Elective,0+0,4,2,2
25,MIS 300,Year II Summer Practicum,Core,1+0,3,3,1
26,MIS 311,System Analysis and Design I,Core,3+2,6,3,1
27,CMPE 283,Web Application Development,Core,3+2,5,3,1
28,.........,MIS List,Elective,0+0,4,3,1
29,.........,MIS List,Elective,0+0,6,3,1
30,.........,GE-Social Science List II,Elective,0+0,6,3,1
31,MIS 302,Database Management,Core,3+2,6,3,2
32,MIS 312,System Analysis and Design II,Core,3+2,6,3,2
33,BUS 314,Management Science,Core,3+1,6,3,2
34,BUS 336,Organization Design,Core,3+0,6,3,2
35,CMPE 372,User Interface Design,Core,3+2,6,3,2
36,MIS 400,Year III Summer Practicum,Core,1+0,3,4,1
37,MIS 401,Enterprise Systems,Core,3+2,6,4,1
38,MIS 461,Management of Information Technology,Core,3+0,6,4,1
39,MIS 497,Information Systems Project I,Core,3+0,5,4,1
40,BUS 401,Strategic Management,Core,3+0,6,4,1
41,.........,MIS List,Elective,0+0,4,4,1
42,MIS 402,Management Support Systems and Business Intell...,Core,3+2,6,4,2
43,MIS 498,Information Systems Project II,Core,4+0,6,4,2
44,BUS 462,e-Commerce,Core,3+0,6,4,2
45,.........,BUS List,Elective,0+0,6,4,2
46,.........,BUS List,Elective,0+0,6,4,2